*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: url(/image/nature.jpg);
  background-repeat: no-repeat;
  padding: 10%;
  padding-top: 5%;
  justify-content: center;
  
}